
.App {
  text-align: center;
  /* background-image: linear-gradient(to right, #c6ffdd, #fdb786, #f7797d); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  min-height: 100vh;
  z-index: 100;
}

.nav-item {
  list-style-type: none;
}


.signup {
  background-image: linear-gradient(to right, #c6ffdd, #fdb786, #f7797d);
  min-height: 100vh;
}

.homePage {
  background-image: url('./images/guy-com.JPG');
  background-size: cover;
  min-height: 50vh;
  /* min-width: 100vh; */
}

.homeTitle {
  text-align: center;
  align-items: center;
  color: white;
}

.homeChat{
  background-image: linear-gradient(to right, #c6ffdd, #fdb786, #f7797d);
  
  min-height: 50vh;
}

.login {
  background-image: url('./images/group.JPG');
  background-size: cover;
  min-height: 100vh;
}

.comingSoon{
  background-image: url('./images/girl-phone.JPG');
  background-size: cover;
  min-height: 50vh;
}

.soonTitle{
  color: white;
}

.convoHolder {
  width: 1000px;
  height: 900px;
}

.convoHolder p {
  margin: 0;
}
.convoHolder {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.convoHolder .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.convoHolder .convo-section {
  /* height: calc(450px - (45px + 70px)); */
  height: 100vh;
  border: 1px solid #263238;
  background: #fff;
  position: relative;
  background-image: linear-gradient(95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64%);
}
.convoHolder .convo-section .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.convoHolder .convo-section .message-container::-webkit-scrollbar {
  display: none;
}
.convoHolder .convo-section .msg {
  height: auto;
  padding: 10px;
  display: flex;
}

.convoHolder .convo-section .msg .messageBody {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #3E54AC;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#me {
  justify-content: flex-start;
}

#me .messageBody {
  justify-content: flex-start;
}

#me meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#friend {
  justify-content: flex-end;
}

#friend .messageBody {
  justify-content: flex-end;
  background-color: #434242;
}

#friend .meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.meta #creator {
  margin-left: 10px;
  font-weight: bold;
}

.convoHolder .convo-section .msg .meta {
  display: flex;
  font-size: 12px;
}

.convoHolder .convo-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.convoHolder .convo-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.convoHolder .convo-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.convoHolder .convo-footer button:hover {
  color: #3E54AC;
}

.contactSupport {
  background-image: url(./images/contact.jpeg);
  background-size:auto;
  min-height: 50vh;
}

.contact {
  background-image: linear-gradient(to right, #c6ffdd, #fdb786, #f7797d);
  min-height: 50vh;
}

.laptop{
  fill: black;
}
