.convo-section {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #576CBC;
  border-radius: 5px;
  color: white;
  /* display: flex; */
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word; 
  word-break: break-word;
}

#me {
    justify-content: flex-start;
} */

#friend {
    justify-content: flex-end;
}

.convo-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}


